/* 
# widths: 
  -mobile: 375px
  -desktop: 1440px 
  
# colors:
  -
# Font size body: 16px

# Font family: Be Vietnam Pro
https://fonts.google.com/specimen/Be+Vietnam+Pro?query=be+vietn

weights: 400 500 700
*/




