body {
  background-color: azure;
  font-family: 'Be Vietnam Pro', sans-serif;
  font-size: 16px;
  margin: 0;
  box-sizing: border-box;
}

/* header section */
header {
  display: flex;
  margin-bottom: 10rem;
}

.main-logo {
  width: 30%;
  margin-left: 1rem;
}
.main-logo-title {
  margin-bottom: 0;
}
.main-logo-subtitle {
  margin-top: 0;
  font-size: 14px;
  color: darkgray;
}
.header-blank-space {
  width: 10%;
}
nav {
  width: 60%;
}
nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  list-style-type: none;
  padding-inline-start: 0;
  margin-right: 1rem;
}

.nav-item {
  font-size: 14px;
  margin-left: 1rem;
}

.nav-item-highlight {
  color: goldenrod;
  font-size: 14px;
  margin-left: 1rem;
}

img {
  width: 100%;
}

/* footer section */
footer {
  background-color: black;
  color: white;
  padding-top: 1rem;
  padding-left: 1rem;
  padding-bottom: 1rem;
}
