
/* RESETS */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Make images easier to work with */
img,
picture {
  width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Removed list styling */
ul, ol {
  list-style: none;
} 

/* BODY STYLING  */
body {
  min-height: 100vh;
  max-width: 1000px;
  margin: auto;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background-color: azure;
  font-family: 'Be Vietnam Pro', sans-serif;
  font-size: 1.125rem;
}

/* HEADER */
header {
  display: flex;
  margin-bottom: 10rem;
}

.main-logo {
  width: 30%;
  margin-left: 1rem;
}
.main-logo-title {
  margin-bottom: 0;
}

.main-logo-title--styling {
  text-decoration: none;
  color: inherit; 
}

.main-logo-subtitle {
  margin-top: 0;
  font-size: 0.875rem;
  color: darkgray;
}
.header-blank-space {
  width: 10%;
}
.top-navigation-nav-menu {
  width: 60%;
}
.top-navigation-nav-menu-ulist {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  padding-inline-start: 0;
  margin-right: 1rem;
}

.nav-item {
  font-size: 0.875rem;
  margin-left: 1rem;
}

.nav-item-highlight {
  color: goldenrod;
  font-size: 0.875rem;
  margin-left: 1rem;
}

/* HOME PAGE MAIN (some styling shared across other pages: header */
/* main section header */
main {
  margin-left: 1rem;
  margin-right: 1rem;
}

.header-container {
  margin-bottom: 5rem;
}

.main-header {
 font-size: 1.5rem; 
 font-weight: 400;
}

.secondary-header {
  font-size: 1.25rem;
  font-weight: 500;
  margin-top: 2rem;
}

.section-header {
  display: flex;
  justify-content: space-between;
  max-width: 1400px;
}

.section-header-primary-title {
  font-size: 1.25rem;
  font-weight: 500;
  color: darkgrey;
}

.section-header-secondary-title {
  font-size: 1rem;
  font-weight: 400;
}
/* home page project showcase */
.multi-project-container {
  display: flex;
  flex-direction: grid;
  flex-wrap: wrap;
  gap: 2rem;
  max-width: 1400px;
  margin-bottom: 3rem;
}

.single-project-container {
  margin-bottom: 2rem;
  max-width: 400px;
}
/* home page more about me */
.more-about {
  margin-bottom: 3rem;
}

.more-about__paragraph {
  margin: 1rem 0;
}

/* CONTACT ME FORM */

.message-form {
  display: flex;
  flex-direction: column;
  max-width: 31.25rem;
}

.message-form__email {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
  row-gap: 0.25rem;
}

.message-form__textarea {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
  row-gap: 0.25rem;
}

.message-form__button {
  margin-bottom: 3rem;
}

.secondary-header--color {
  color: darkgray;
}

/* LIST OF BLOG POSTS */

.blogs {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  margin-bottom: 3rem;
}

.blog {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  border-bottom: 0.125rem solid darkgray;
  padding: 2rem 0;
}

.blog__date {
  color: darkgray;
}

.blog__header {
  font-size: 1.25rem;
  font-weight: 500; 
}

.blog__header--link {
  color: black;
  text-decoration: none;
}

/* BLOG ARTICLES  */

.article-header {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  margin-bottom: 3rem;
}

.article-header__title {
  font-size: 2rem;
  font-weight: 400;
}

.article-header__date {
  color: darkgrey;
}

.article {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  margin-bottom: 3rem;
}

.article__img {
  max-width: 37rem;
}

/* PROJECTS  */

.project {
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
  margin-bottom: 3rem;
}

.project__img {
  border-radius: 1rem;
}

/* FOOTER */
footer {
  background-color: black;
  color: white;
  padding: 1rem;
  
}

.main-footer-header {
 font-size: 0.875rem;
 font-weight: 400;
 margin-bottom: 0; 
}

.main-footer-header-subtitle {
  margin-top: 0;
}

.email-styling {
  color: goldenrod;
}

.main-footer-header-paragraph {
  font-size: 0.875rem;
  color: darkgray;
}

.footer-menu {
  margin-top: 1rem;
}

.footer-menu-secondary-heading {
  color: darkgrey;
}

.bottom-navigation-menu-ulist {
  padding-inline-start: 1rem;
}
.social-icons {
 margin-bottom: 1rem;
}

.icon-styling {
  color: white;
}
